*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: black;
  font-size: 16px; /*se agrego */
}
/* ESTILO PARA EL TEXTO CONTAINER */
.text-container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
/* EFECTO AL H1, CON IMAGEN DE FONDO QUE TIENE COMO NOMBRE POKEMON */
#text-border {
  text-align: center;
  font-size: 150px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  text-shadow: 0 0 20px rgb(248, 2, 2);
}
#text-ext {
  position: absolute;
  margin: 0;
  font-size: 150px;
  color: rgba(225,225,225, .01);
  background-image: url("../Image/cover-pokemon-preview.jpg");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 10s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
/* ANIMACION PARA LA IMAGEN QUE ESTA EN EL H1 */
@keyframes animate {
  0%, 100% { background-position: left top; }
  25% { background-position: right bottom; }
  50% { background-position: left bottom; }
  75% { background-position: right top; }   
}
/* DIESEÑO DE LA POKEBALl */
.center-on-page {
  cursor: pointer;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.pokeball {
  position: relative;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 5px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow:  -1px 1px 10px #fcfcfc,
             1px -1px 10px #ffffff;
  animation: fall 1s ease-in-out,
             shake 1s cubic-bezier(.36,.07,.19,.97) 5;
  filter: brightness(1.5);
}
/* EFECTOS A LA POKEBALL */
.pokeball::before,
.pokeball::after {
  content:"";
  position: absolute;
}
.pokeball::before {
  background: red;
  width: 100%;
  height: 50%;
  background: radial-gradient(circle at 75% 0%, rgba(255,255,255) 5%, rgba(255,0,0,0.80) 10%, rgba(255,0,0) 60%);
}
.pokeball::after {
  top: calc(50% - 10px);
  width: 100%;
  height: 10px;
  background: #000;
}
.pokeball__button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 50px;
  height: 50px;
  background: #7f8c8d;
  border: 10px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 10px black;
  animation: blink 1s alternate 7;
}
/* ANIMACION A LA POKEBALL */
@keyframes blink {
  from { background: #eee;}
  to { background: #e74c3c; }
}
@keyframes shake {
  0 { transform: translate(0, 0) rotate(0); }
  20% { transform: translate(-10px, 0) rotate(-20deg); }
  30% { transform: translate(10px, 0) rotate(20deg); }
  50% { transform: translate(-10px, 0) rotate(-10deg); }
  60% { transform: translate(10px, 0) rotate(10deg); }
  100% { transform: translate(0, 0) rotate(0); }
}
@keyframes fall {
  0% { top: -200px }
  60% { top: 0 }
  80% { top: -20px }
  100% { top: 0 }
}
/* MEDIA QUERIES PARA ADAPTIBILIDAD PARA CUALQUIER PANTALLA */
/* PARA PANTALLAS PEQUEÑAS, COMO TELÉFONOS MÓVILES: */
@media screen and (max-width: 480px) {
  .text-container {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #text-border {
    font-size: 50px;
    text-align: center;
  }
  #text-ext {
    font-size: 50px;
    text-align: center;
  }
  .center-on-page {
    top: 60%;
  }
  .pokeball {
    width: 100px;
    height: 100px;
  }
  .pokeball__button{
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 10px;
    height: 10px;
    border: 8px solid #fff;
  }  
  .pokeball::before {
    background: radial-gradient(circle at 75% 0%, rgba(255,255,255) 5%, rgba(255,0,0,0.80) 10%, rgba(255,0,0) 60%);
  }
}
/* PARA PANTALLAS MEDIANAS, COMO TABLETS: */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .text-container {
    height: 70vh;
  }
  #text-border {
    font-size: 120px;
  }
  #text-ext {
    font-size: 120px;
  }
  .center-on-page {
    top: 70%;
  }
  .pokeball {
    width: 180px;
    height: 180px;
  }
}
/* PARA PANTALLAS GRANDES, COMO PCS: */
@media screen and (min-width: 1025px) {
  .text-container {
    height: 80vh;
  }
  #text-border {
    font-size: 150px;
  }
  #text-ext {
    font-size: 150px;
  }
  .center-on-page {
    top: 75%;
  }
  .pokeball {
    width: 200px;
    height: 200px;
  }
}